/*
 * Defining variables/playing with sass 
 *
 */
$gray: #f0f0f0;

/* Formatting for the CPL logo at the top of the page */
.group:after {
  content: "";
  display: table;
  clear: both;
}

#header{
	background:#fff;
	min-height:78px;
}

#logo-title{
	float:left;
	height:67px;
	margin:5px 0 0 0;
	padding:0 0 6px 13px;
}
		
	#logo-title.clicked{
		padding:0 0 6px;
	}
		
	#logo-title a{
		background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll 0 0 transparent;
		color:#fff;
		display:block;
		font-size:.01em;
		height:0px;
		overflow:hidden;
		padding:67px 0 0 0;
		width:480px;
	}
			
	#logo-title.clicked a{
		background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll -17px 0 transparent;
		width:463px;
	}
			
#logo-downloads{
	float:left;
	padding:22px 0 0;
	width:30px;
}

#header-inner{
	position:relative;
	z-index:1;
}

#utilities{
	margin-bottom:0;
	position:absolute;
	right:5px;
	text-align:right;
	top:14px;
	line-height:1em;
	z-index:1;
  	width: inherit;
}

#utilities a{
	color:#fff;
	display:block;
	margin:0;
	padding:12px 0 0 13px;
	text-decoration:underline;
}

.clear-block:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* Formatting for the catalog search bar at the top of the page */
#action-bar{
	background:#0067ba;
	border-radius:2px;
	height:37px;
	position:relative;
}

#block-block-7{
	height:37px;
	margin:0;
	padding:0;
	position:absolute;
	width:500px;
	z-index:8;
}

	#block-block-7 fieldset{
		border:0;
		margin:0;
		padding:0;
	}
			
	#block-block-7 h2{
		float:left;
		font-size:1.2em;
		height:37px;
		line-height:1em;
		margin:0;
		width:180px;
	}
			
	#block-block-7 h2 a{
		color:#fff;
		display:block;
		font-weight:bold;
		margin:0;
		padding:12px 0 0 13px;
		text-decoration:none;
	}
					
	#block-block-7 h2 a:hover{
		color:#dd7500;
	}

	#block-block-7 legend{
		display:none;
	}

#cplCat{
	float:left;
	height:37px;
	margin:0;
	width:315px;
}

#cplCatSubmit{
	background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll -240px -67px transparent;
	border:0 none;
	cursor:pointer;
	height:22px;
	margin:7px 1px 0 3px;
	padding:0;
	position:absolute;
	vertical-align:middle;
	width:21px;
}

#searcharg{
	border-radius:2px;
	background:#fff;
	border:1px solid #4695D1;
	font-size:1.2em;
	height:1.65em;
	margin:5px -30px 5px 0;
	padding:3px 0 2px 30px;
	vertical-align:middle;
	width:280px;
}

#searcharg:active,#searcharg:focus{
	outline:0;
}

#navigation{
	margin:10px 0;
}


/* Formating for the main navigation (on left) */
#block-system-main-menu {
	background: $gray;
	border-radius:2px;
	padding:3px 0 1em 0;
	line-height: 1.286em;
	font-size: .99em;
}

	#block-system-main-menu ul ul,#block-system-main-menu li{
		list-style:none;
		list-style-image:none;
		list-style-type:none;
		margin:0;
		padding:0 2% 0 0;
	}

	#block-system-main-menu li.first a{
		margin-top:.4em;
	}

	#block-system-main-menu li a{
		color:#0067ba;
		display:block;
		font-size:1.2em;
		font-weight:bold;
		margin:.8em 0 0 0;
		padding:1px 2% 1px 1%;
		text-decoration:none;
	}

	#block-system-main-menu li a:hover{
		color:#dd7500;
		text-decoration:underline;
	}

	#block-system-main-menu li a.active{
		border-radius:2px;
		background:#dd7500;
		color:#fff;
		font-weight:bold;
		text-decoration:none;
	}
				
	#block-system-main-menu li a.active:hover{
		background:#0067ba;
		color:#fff;
	}
		
	#block-system-main-menu li li a,#block-system-main-menu li.first li a{
		font-size:1em;
		font-weight:normal;
		margin:0;
		padding:0 2% 0 1%;
		text-transform:lowercase;
	}

	#block-system-main-menu li li.first a{
		margin:0;
	}

	#region-sidebar-first #block-system-main-menu li li ul{
		border-radius:2px;
		background:#ffd9aa;
		padding:0 0 0 5px;
	}
		
	#block-system-main-menu li li li a{
		font-size:.86em;
		padding-left:19px;
	}
		
	#block-system-main-menu li li li li a{
		font-size:.77em;
		padding-left:24px;
	}
		
	#block-system-main-menu .first .last a{
		color:#dd7500;
	}
		
	#block-system-main-menu li .first .last a,#block-system-main-menu .first .expanded .last a{
		color:#0067ba;
	}

#content {
	padding:0 1em 0 1em;
}


/* Formatting for common  html elements */
.invisible {
	display:none;
}


/* Formatting the footer */ 
#footer{
	border-bottom:2px solid #fff;
	border-top:4px solid #fff;
	color:#111;
	height:165px;
	line-height:1.286;
	margin:0 auto;
/*	margin-top:-167px;*/
/*	max-width:1001px; */
	position:relative;
}

	#footer-inner{
		background-color:#0067ba;
		border-radius:2px;
		float:left;
		height:37px;
		padding:0;
		width:100%;
	}

	#social-media{
		float:right;
		margin:4px 5px 0 0;
	}
			
		.social-icon{
			background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll 0 -83px transparent;
			content:'';
			display:inline-block;
			height:32px;
			width:32px;
		}

			.flickr{
				background-position:-32px -83px;
			}

			.twitter{
				background-position:-64px -83px;
			}

			.youtube{
				background-position:-96px -83px;
			}

			.gplus{
				background-position:-128px -83px;
			}

			.email-icon{
				background-position:-160px -83px;
			}

			.rss-icon{
				background-position:-192px -83px;
			}

			.pinterest{
				background-position:-432px -83px;
			}

	#footer #edit-keys{
		border:1px solid #dd7500;
		height:20px;
		margin:6px 0;
		padding-right:19px;
		vertical-align:middle;
		width:105px;
	}

	#footer .block,#user-login-form ul{
		margin-bottom:0;
	}

	#footer abbr{
		border:0;
		text-decoration:none;
	}

	#footer-inner ul,#footer-inner li{
		list-style:none;
	}

	#site-index{
		width:135px;
	}

	#site-index form,#site-index fieldset{
		margin:0;
		padding:0;
	}

		#site-index fieldset{
			border:1px solid #fff;
			width:170px;
		}

		#site-index legend{
			padding:0;
		}

		#site-index .form-item{
			margin:0;
		}

		#cpl-search-submit{
			background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll -262px -67px transparent;
			border:0 none;
			cursor:pointer;
			display:inline-block;
			height:20px;
			left:-24px;
			margin:0;
			padding:0;
			position:relative;
			vertical-align:middle;
			width:20px;
		}

	.footer-section{
		float:left;
		padding:0 15px;
		text-align:left;
	}

		.footer-section h2{
			color:#fff;
			font-size:1.2em;
			font-weight:bold;
			margin:0px 0 15px 0;
		}

			.footer-section h2 a img{
				border-bottom:0;
				margin:-7px 0 0 0;
				vertical-align:top;
			}

	#orgname{
		font-weight:bold;
	}

	#hours .days{
		display:inline-block;
		font-weight:bold;
		min-width:6.2em;
	}

/* html-elements */
body{background:#fafafa;color:#0c0c0c;font-family:Lato,sans-serif;margin:0;padding:0;}
#page{background:#fff;}
a:link{color:#0067ba;text-decoration:underline;}
	a:visited{}
	a:hover,a:focus{color:#dd7500;}
	a:active{}
abbr{border-bottom:1px dotted #666;cursor:help;white-space:nowrap;}
acronym{border-bottom:1px dotted #666;cursor:help;white-space:nowrap;}
address{cursor:help;} 
b{font-weight:bold;}
blockquote{background:#f9f9f9;border-left:1em solid #eee;margin:1.5em 1em;padding:.5em 1em;quotes:'\201C' '\201C' '\201C' '\201C';}
	blockquote:before{color:#808080;content:open-quote;font-size:4em;line-height:.1em;margin-right:.25em;vertical-align:-.4em;}
	blockquote > :first-child{display:inline;}
	blockquote > :last-child{margin-bottom:0;}
code{font-family:Consolas,"Bitstream Vera Sans Mono","Courier New",monospace;font-size:1.1em;}
dd{margin:0 0 0 2em;padding:0;}
details > p{font-size:.75em;}
div:target{background:#f2f2f2;border:2px dashed #dd7500;padding:0 5px;width:auto;}
dl{margin:1em 0;}
dt{margin:0;padding:0;}
em{font-style:italic;}
embed,iframe,object{max-width:100%;}
fieldset{border-radius:3px;border:1px solid #dd7500;margin:1em 0;padding:0.5em;}
form{margin:0;padding:0;}
h1 {color:#444;font-size:2.5em;margin:.6em 0 .2em 0;font-weight:normal;}
	#page h1.node-title{font-weight:normal;margin:0;}
h2{clear:both;font-size:1.65em;font-weight:normal;margin:.6em 0 .2em 0;}
	h2,h2 a:link,h2 a:visited{color:#555;text-decoration:none;}
	h2 a:hover,h2 a:focus,h2 a:active{color:#000;}
	#page h2.node-title{font-weight:normal;margin:0;padding-top:.25em;font-size:2.7em;}
	.node h2{font-size:2.7em;letter-spacing:-1px;text-decoration:none;line-height:1em;padding-top:.25em;margin-top:0;}
		.node h2 a:hover{text-decoration:underline;}
.paragraphs-item-heading h2{
	clear: both;
	border-bottom: 1px solid;
	font-size:1.6em;
}
h3{font-size:1.3em;margin:1.5em 0 .5em 0;clear:both;border-bottom:1px solid;}
	h3,h3 a:link,h3 a:visited{color:#555;text-decoration:none;}
	h3 a:hover,h3 a:focus,h3 a:active{color:#111;}
	#page h3.node-title{font-weight:normal;margin:.2em 0 .1em 0;}
h4{font-size:1.15em;margin:1.5em 0 .5em 0;}
	h4,h4 a:link,h4 a:visited,h4 a:hover,h4 a:active{color:#444;text-decoration:none;}
h5{font-size:1em;margin:1.5em 0 .5em 0;}
	h5,h5 a:link,h5 a:visited,h5 a:hover,h5 a:active{color:#444;text-decoration:none;}
h6{font-size:.95em;margin:1.5em 0 .5em 0;}
	h6,h6 a:link,h6 a:visited,h6 a:hover,h6 a:active{color:#6bb8c4;text-decoration:none;}
hr{height:1px;border:1px solid #555;}
i{font-style:italic;}
img{-ms-interpolation-mode:bicubic;border:0;max-width:100%;}
input[type="text"]:focus{outline:2px solid #4e83cc;}
input[type="number"]{width:6em;}
li{margin:0;padding:0;}
ol{list-style-type:decimal;margin:1em 0 1em 0;padding:0 0 0 2em;}
ol ol{list-style-type:lower-alpha;}
ol ol ol{list-style-type:decimal;}
p{/*clear:both;*/margin:.5em 0;}
pre{font-family:Consolas,"Bitstream Vera Sans Mono","Courier New",monospace;font-size:1.1em;margin:1em 0;}
samp{font-family:Consolas,"Bitstream Vera Sans Mono","Courier New",monospace;font-size: 1.1em;margin:1em 0;}
strong{font-weight:bold;}
	strong a{font-weight:normal;}
	a strong{font-weight:normal;}
table{border:2px solid #cdced0;border-collapse:collapse;font-size:.875em;margin:1em 0;}
tbody{border-top:none;}
td{border-right:1px solid #d7d8de;padding:2px 6px 2px 2px;}
th{border-right:1px solid #b8b8ba;border-bottom:1px solid #95999c;padding:2px 6px 2px 2px;}
thead th{background:#f8f8f8;border-right:1px solid #b8b8ba;border-bottom:1px solid #95999c;color:#111;font-weight:bold;}
thead th a,thead th a:link,thead th a:visited{color:#111;}
thead th a:hover,thead th a:active{color:#666;}
tbody tr:nth-child(even){background:#f3f6fb;}
ul{margin:.5em 0 .5em 0;padding:0 0 0 1em;list-style-type:disc;}
ul.menu{margin:0;}
ul ul{list-style-type:circle;}
ul ul ul{list-style-type:square;}
ul ul ul ul{list-style-type:circle;}
ul ul, ul ol,ol ol, ol ul,.block ul ul,.block ul ol,.block ol ol,.block ol ul,.item-list ul ul,.item-list ul ol,.item-list ol ol,.item-list ol ul{margin:0;}
.item-list ul>li{margin:0;padding:0;list-style:inherit;}
ul>li{list-style-image:url(//www.cantonpl.org/sites/all/themes/zen/cpl/images/bullet.gif);}
ul ul>li{list-style-image:url(//www.cantonpl.org/sites/all/themes/zen/cpl/images/revbul.gif);}
ul.menu>li,li.expanded,li.collapsed,li.leaf{margin:0;padding:0;}
abbr.created{border:none;cursor:auto;white-space:normal;}


/* Sierragraphs Formatting */
.field-name-field-sierragraphs-jacket {
	float:left;
	padding-right:1em;
	padding-bottom:1em;
}

.paragraphs-item-sierragraphs {
	clear:both;  
	padding-bottom:1em;
	margin-top:.75em;
}

/* Icon Formatting */
.fa {
	color:#0067ba;
}

/* Image formatting for blogs */
.field-name-field-image img {
	float:right;
	padding:1em;
}

/* Taxonomy formatting */
li.taxonomy {
	list-style:none;
	display:inline;
	padding-right:.25em;
	line-height:1em;
	text-transform:lowercase;
}

ul.taxonomy {
	margin:0;
}

/* Submitted by formatting */
.submitted {
	padding-left:1.1em;
	line-height:1em;
}

/* Increasing space in between blog posts */
article:after{
/*	margin-bottom:2em;*/
}

article {
	
}

/* Social media icons?

article header {
	
}

*/

/* Formatting Paragraphs form so it looks nice */
.form-item .field-multiple-table {
	width:100%;
}

.form-item .field-name-field-sierragraphs-jacket {
	width:100%;
}

/* MAILTO AND FILE LINKS */
#content a[href^="mailto:"]:after{background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll -48px -67px transparent;content:'';display:inline-block;height:16px;margin:0 0 0 3px;width:16px;}
#content a[href$='.pdf']:after{background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll -112px -67px transparent;content:'';display:inline-block;height:16px;margin:0 0 0 3px;width:16px;}
#content a[href$='.xls']:after, #content a[href$='.csv']:after, #content a[href$='.xlsx']:after{background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll -128px -67px transparent;content:'';display:inline-block;height:16px;margin:0 0 0 3px;width:16px;}
#content a[href$='.ppt']:after, #content a[href$='.pptx']:after{background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll -144px -67px transparent;content:'';display:inline-block;height:16px;margin:0 0 0 3px;width:16px;}
#content a[href$='.zip']:after, #content a[href$='.gzip']:after, #content a[href$='.rar']:after{background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll -176px -67px transparent;content:'';display:inline-block;height:16px;margin:0 0 0 3px;width:16px;}
#content a[href$='.doc']:after, #content a[href$='.rtf']:after, #content a[href$='.txt']:after{background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll -160px -67px transparent;content:'';display:inline-block;height:16px;margin:0 0 0 3px;width:16px;}
#content a[href^='http://www.google.com/reader']:after{background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll -80px -67px transparent;content:'';display:inline-block;height:16px;margin:0 0 0 3px;width:16px;}
#content a[href^='http://www.cantonwiki.org']:after,#content a[href^='http://cantonwiki.org']:after{background:url(//www.cantonpl.org/sites/all/themes/zen/cpl/sprites/site-sp-v011712r1.png) no-repeat scroll -32px -67px transparent;content:'';display:inline-block;height:16px;margin:0 0 0 3px;width:16px;}

/* Fixing the layout at the top so that the header returns to the home page and the location link works */
.two-sidebars .region-page-top:after {
	clear:both !important;
}

/* Formatting for staff blurbs for blogs */

.views-field-field-cpl-staff-picture {
	float:left;
	padding:.3em;
	margin:.5em;
	background:#FFF;
	border:1px solid #ccc;
}

.views-row {
	clear:both;
	padding-bottom:.8em;
}

.views-field-field-cpl-staff-title {
	font-size:1.3em;
	margin:1em 0 .5em 0;
	color:#555;
}

.staff-info {
	background-color:#e5e5e5;
	border:2px solid #666;
	border-radius:2px;
	padding:.5em;
	margin:3px 0 0 0;
	overflow:hidden;
}

.view-content {
	/*margin-top:1em;*/
}

.links {
	clear:both;
	display:block;
	border-bottom: 2px solid #ccc;
}

/* LOOK AT THE USE OF CONTENT HERE -- USE THIS FOR USING FONT AWESOME FOR BEFORE/AFTER FILE TYPES AND STUFF */
.taxonomy-term-description,.special-note,.action-callout{background-color:#e5e5e5;border:2px solid #666;border-radius:2px;padding:1em;margin:3px 0 0 0;overflow:hidden;}
	.special-note:before{color:#dd7500;content:"Note:\00A0";font-weight:bold;}

div.columnar,p.columnar{float:left;width:45%;}
div.tricolumnar,p.tricolumnar{float:left;width:33%;}

.clear-both{
	clear:both;
}

.form-item-field-body-add-more-type {
  display: inline;
}

label[for=edit-field-body-und-add-more-type] {
  text-transform: capitalize;
}

.field-add-more-type {
  margin-right: 1em;
}


@media screen and (max-width:640px){
	body{background:#fff;height:inherit;}
	code{white-space:normal;word-wrap:normal;}
	h2{font-size:1.4em;}
	li.last.leaf{display:none;}
	input{max-width:200px;}
	.node table{display:block;}
		.node td,.node thead th{border-color:#444;border-style:solid;border-width:0 2px 0 0;display:inline;float:left;}
			.node td:last-child,.node th:last-child{border-right:0 none;}
		.node thead th{background:transparent;font-size:1.1em;}
		.node tr{display:block;float:left;clear:left;padding:6px 0;width:100%;}
			.node thead tr{border-bottom:4px solid #444;margin:0 0 .3em 0;padding:0 0 .2em 0;}
		.node tbody tr:nth-child(even){background:#ddd;}
		.node td:nth-child(5n+1),.node th:nth-child(5n+1){background:#FFD8D8;}
		.node td:nth-child(5n+2),.node th:nth-child(5n+2){background:#FFE8D8;}
		.node td:nth-child(5n+3),.node th:nth-child(5n+3){background:#FFF8D8;}
		.node td:nth-child(5n+4),.node th:nth-child(5n+4){background:#D8FFD8;}
		.node td:nth-child(5n+5),.node th:nth-child(5n+5){background:#D8D8FF;}
	#header{min-height:43px;}
		#logo-title{float:none;height:30px;margin:0;padding:0;}
			#logo-title a{background:url(/sites/all/themes/cpl_responsive/sprites/site-sp-v011712r1.png) no-repeat scroll -282px -67px transparent;padding:30px 0 0 0;width:150px;}
				#logo-title.clicked a{background:url(/sites/all/themes/cpl_responsive/sprites/site-sp-v011712r1.png) no-repeat scroll -282px -67px transparent !important;width:120px;}
				#logo-downloads{padding:0;width:30px;}
		#utilities{clear:both;color:#fff;font-size:.85em;margin:4px 0 0;position:static;text-align:left;}
			#utilities a{background:#0067ba;color:#fff;display:block;margin:2px 0;padding:7px;}
			.loc-link{display:none;}
	#action-bar{background:none;height:inherit;position:static;}
		#block-block-7{height:inherit;position:static;width:inherit;}
			#block-block-7 h2{float:none;font-size:.85em;height:inherit;margin:0;padding:0;width:inherit;}
				#block-block-7 h2 a{background:#0067ba;color:fff;font-weight:normal;height:inherit;padding:7px;text-decoration:underline;}
			#cplCat{width:inherit;}
				#searcharg{max-width:255px !important;width:255px;}
	#page{margin:0;max-width:none;min-width:290px;overflow-x:visible;overflow-y:visible;padding:0 15px;position:static; width:90%;}
		#page-inner{padding-bottom:0px; width:100%;}
	.region-sidebar-second{border-top:4px solid #666;clear:left;float:left;margin-right:0;margin-left:0;width:100%;}
	#content{margin-right:0;width:auto;}
		#content-inner{min-width:0px;padding:5px 0 0 0;}
			#content{/* max-width:290px; */}
					#content table img{display:inline;margin:0;}
					#content tbody tr:nth-child(even){background:#ddd;}
				div.columnar,p.columnar,div.research,p.research{float:none;width:inherit;}
	#footer{border-bottom:0 none;border-top:8px solid #0067ba;background:#D7E6EF;float:left;height:inherit;margin:0;margin-top:0;min-height:530px;min-width:290px;padding:15px;position:static;}
		#social-media{float:left;}
		#site-index{width:inherit;}
		#footer-inner{background:none;}
		.footer-section{border-top:4px solid #0067ba;float:left;margin-top:1em;padding:0;width:100%;}
			.footer-section h2{color:#666;font-size:2em;}
		#hour-table td{display:table-cell;}
		#hour-table tr{display:table-row;float:none;}
	#user-register{background:#eee;border:2px solid #666;padding:.5em;}
	#content .action-link img{float:left !important;}
	.help-section{float:none;margin:10px 0;}
	.item-list ul li{list-style:inherit;}
	.listed-node{border-bottom:3px solid #aaa;}
	.node img.feedicon{margin:0 5px -17px -20px;}
	.node li{margin:.2em 0;}
	.node-patblog .guest-post-info{clear:both;float:none;margin:0;}
	.page-cpl-register{}
		.page-cpl-register .columnar{width:inherit;}
		.page-cpl-register .left{border-right:0 none;}
		.page-cpl-register .login-inner{padding:0;}
	.page-pages #content table{width:inherit;}
		.page-pages #content td{clear:both;float:left;width:inherit;}
		.page-pages #content tbody tr:nth-child(even){background:transparent;}
	}