.view-upcoming-events.view-id-upcoming_events {
  width: 120%;
}

/*
#ief-entity-table-edit-field-program-sessions-und-entities .date-repeat-input,
#ief-entity-table-edit-field-program-sessions-und-entities .date-clear.daily,
#ief-entity-table-edit-field-program-sessions-und-entities .date-clear.weekly,
#ief-entity-table-edit-field-program-sessions-und-entities .date-clear.monthly,
#ief-entity-table-edit-field-program-sessions-und-entities .date-clear.yearly,
#ief-entity-table-edit-field-program-sessions-und-entities .date-clear.range-of-repeat {
  display: none;
}

#ief-entity-table-edit-field-program-sessions-und-entities .form-type-item .form-type-checkbox {
  visibility: hidden;
}*/

.view-program-sessions .views-row {
  padding: 5px 10px;
}

.view-program-sessions .views-row.cancelled {
  background-color: #e5e5e5;
  border: #666 solid 2px;
  border-radius: 2px;
}

.views-field-field-program-sess-cancel-text .views-label-field-program-sess-cancel-text {
  font-weight: bold;
}

.views-label-field-program-sess-cancel-text,
.views-label-field-program-sessions-date,
.views-label-field-program-sessions-room,
.view-program-sessions .field-content,
.date-display-range {
  display: inline;
}

.calendar-calendar .month-view .full td.single-day.past div.monthview,
.calendar-calendar .week-view .full td.single-day.past div.weekview,
.calendar-calendar .day-view .full td.single-day.past div.dayview {
  background-color: #e5e5e5;
}

.calendar-calendar td.single-day .all-day div.views-field-field-program-sessions-date,
.calendar-calendar td.single-day .all-day div.views-field-field-program-sessions-date,
.calendar-calendar td.single-day .all-day div.views-field-field-program-sessions-date {
  display: none;
}